html,body {height: 100%;}

body {background: #eee;}

.animate {
  -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/*-------------------------------
general
--------------------------------*/
.button {text-decoration: none;}
#docu {text-decoration: underline; color: #ff0000a8;}
#docu:hover {padding: 5px 5px; background-color: #f5000056; color: #eee; text-decoration:underline;}
#fb {color: #eee;}
#ig {color: #eee;}
#yt {color: #eee; }
#fb:hover {color: #363636;}
#ig:hover {color: #363636;}
#yt:hover {color: #363636;}
a {color:#000000ce; text-decoration: none; }
a:hover {color: #120079af;}

/*--------------------------------------------
header
----------------------------------------------*/
.header {background: #111111}
.header__menu {float:right;margin:0; padding:0;}
.header__menu__item {display: inline-block;}
.header__menu__item a{color: #fff;display: block;padding:20px; text-decoration: none;font-family:sans-serif;font-size: 10px;}
.header__menu__item a:hover {background: #ff0000a8}

.header__icon-bar {display: block;float: right;padding: 20px;display: none;}
.header__icon-bar span {display: block;height: 3px; width: 30px;background: #fff; margin-bottom:5px;}


/*---------------------------------
cover
----------------------------------*/
.cover{height: 70%;
  background-image :url(https://www.ladige.it/image/contentid/policy:1.3214402:1652876261/image.jpg?a=191%3A100&q=0.6&w=1200&$p$a$q$w=e3c1d56);
  background-size: cover;
  background-position: center;
  position: relative;
}
.cover__filter {
background: #000;
width: 100%;
height: 100%;
position: absolute;
z-index: 0;
opacity:0.5;
}
.cover__caption{
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
.cover__caption__copy{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  font-size: 13px;
}

.login__copy{font-family: sans-serif; font-size: 13px; max-width: 800px; margin:0px auto; margin-top: -60px; background: #fff; padding: 20px 40px ; position: relative; z-index: 1}
.login__copy h4 { text-indent: 1.5em;}
.login__copy p { text-indent: 1.5em; }
.listadiversa {list-style-type:disc}
.code-editor {
  max-width: 300px;
  background-color: #1d1e22;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 2px;
  margin-left:250px;
}

.headerdue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.title {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1.57px;
  color: rgb(212 212 212);
}

.icon {
  width: 20px;
  transition: .2s ease;
}

.icon:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: #6e7281;
}

.editor-content {
  margin: 0 10px 10px;
  color: white;
}

.property {
  margin-left: 30px;
}

.property:hover {
  cursor: text;
}

.editor-content .color-0 {
  color: rgb(86 156 214);
}

.editor-content .color-1 {
  color: rgb(182 206 168);
}

.editor-content .color-2 {
  color: rgb(156 220 254);
}

.editor-content .color-3 {
  color: rgb(207 146 120);
}

.color-preview-1,.color-preview-2 {
  height: 8px;
  width: 8px;
  border: 1px solid #fff;
  display: inline-block;
  margin-right: 3px;
}

.color-preview-1 {
  background-color: #1d1e22;
}

.color-preview-1 {
  background-color: rgba(0, 0, 0, 0.5);
}
.contim {display: inline-block; padding-left: 90px;}
/*---------------------------------------------
footer
----------------------------------------------*/
.container {text-align: center; background: #111111; padding-top: 25px; width: 100%; position: absolute; top: 2000%;}
.row {text-align: center; color: #fff; font-family: sans-serif; position: relative; font-size: 10px;margin-top: 30px;}
.follow {font-family: sans-serif; font-size: 8px;margin-bottom: 0px;}
.icons {text-align: center; color: #eee;}
.icons__item {display:inline-block; font-size: 30px; padding: 10px;margin-bottom: 20px;} 
ul {list-style-type:none;}

/*--------------------
smarphone-------------*/
@media (max-width: 767px) {
  .header {position:fixed; z-index: 100;width: 100%;}
  .header__icon-bar {display: block;}

  .header__menu {width: 100%;height: 0px; overflow: hidden;}
  .header__menu__item {display: block;}
  .is-open {height: 300px; overflow: auto;}
}

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

