html,body {height: 100%;}

body {background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7f/Vasco_Live_2022_Intro.jpg);
}

.animate {
  -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/*-------------------------------
general
--------------------------------*/
.button {text-decoration: none;}
#docu:hover {padding: 5px 5px; background-color: #f5000056; color: #eee;}
#fb {color: #eee;}
#ig {color: #eee;}
#yt {color: #eee; }
#fb:hover {color: #363636;}
#ig:hover {color: #363636;}
#yt:hover {color: #363636;}
a {color:#f50000a8 }

/*--------------------------------------------
header
----------------------------------------------*/
.header {background: #111111}
.header__menu {float:right;margin:0; padding:0;}
.header__menu__item {display: inline-block;}
.header__menu__item a{color: #fff;display: block;padding:20px; text-decoration: none;font-family:sans-serif;font-size: 10px;}
.header__menu__item a:hover {background: #ff0000a8}
.header__menu__itemdiv {display: inline-block;}
.header__menu__itemdiv a{ color: #eee; background:#363636; display: block;padding:20px; text-decoration: none;font-family:sans-serif;font-size: 10px;}

.header__icon-bar {display: block;float: right;padding: 20px;display: none;}
.header__icon-bar span {display: block;height: 3px; width: 30px;background: #fff; margin-bottom:5px;}


/*---------------------------------
cover
----------------------------------*/

.cover{height: 70%;
  background-image :url(https://i.ytimg.com/vi/sEcO4uD9nOo/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.cover__filter {
background: #000;
width: 100%;
height: 100%;
position: absolute;
z-index: 0;
opacity:0.5;
}
.cover__caption{
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
.cover__caption__copy{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  font-size: 15px;
}

/*-------------------------------------------------
login
----------------------------------------------------*/
.login__copy{font-family: sans-serif;max-width: 800px; margin:0px auto; margin-top: -60px; background: #fff; padding: 20px 40px ; position: relative; z-index: 1; font-size: 13px;}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-in-out;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button3:hover {
  background-color: red;
  color: white;
}

/*---------------------------------------------
footer
----------------------------------------------*/
.container {text-align: center; background: #111111; padding-top: 25px; width: 100%; position: absolute; top: 190%;}
.row {text-align: center; color: #fff; font-family: sans-serif; position: relative; font-size: 10px;}
.follow {font-family: sans-serif; font-size: 10px;}
.icons {text-align: center; color: #eee;}
.icons__item {display:inline-block; font-size: 30px; padding: 10px;} 
ul {list-style-type:none;}



/*--------------------
smarphone-------------*/
@media (max-width: 767px) {
  .header {position:fixed; z-index: 100;width: 100%;}
  .header__icon-bar {display: block;}

  .header__menu {width: 100%;height: 0px; overflow: hidden;}
  .header__menu__item {display: block;}
  .is-open {height: 300px; overflow: auto;}
}

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
